@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;700&family=Open+Sans:wght@400;700&display=swap");
.black {
  color: black; }

.background-black {
  background-color: black !important; }

.white {
  color: white; }

.background-white {
  background-color: white !important; }

.basicblue {
  color: #1b365d; }

.background-basicblue {
  background-color: #1b365d !important; }

.betablue {
  color: #407ec9; }

.background-betablue {
  background-color: #407ec9 !important; }

.bismuthblue {
  color: #41b6e6; }

.background-bismuthblue {
  background-color: #41b6e6 !important; }

.darkred {
  color: #661a29; }

.background-darkred {
  background-color: #661a29 !important; }

.red {
  color: #661a29; }

.background-red {
  background-color: #661a29 !important; }

.orange {
  color: #f18a21; }

.background-orange {
  background-color: #f18a21 !important; }

.yellow {
  color: #ffc62f; }

.background-yellow {
  background-color: #ffc62f !important; }

.darkgreen {
  color: #4c9e45; }

.background-darkgreen {
  background-color: #4c9e45 !important; }

.lightgreen {
  color: #92c83e; }

.background-lightgreen {
  background-color: #92c83e !important; }

.darkgrey {
  color: #92c83e; }

.background-darkgrey {
  background-color: #92c83e !important; }

.lightgrey {
  color: #92c83e; }

.background-lightgrey {
  background-color: #92c83e !important; }

body {
  font-family: "Open Sans", sans-serif; }
  @media (min-width: 1200px) {
    body {
      font-size: 1.25rem; }
      body .btn {
        font-size: 1.25rem; } }

.exo {
  font-family: "Exo", sans-serif; }

.bold {
  font-weight: 700; }

#ci__interacitve {
  width: 100%; }
  #ci__interacitve .btn {
    border-radius: 1rem;
    padding: 1rem 2rem; }
  #ci__interacitve .btn-orange {
    background: #f18a21;
    font-weight: 700;
    color: #1b365d; }
    #ci__interacitve .btn-orange:hover {
      background: #1b365d;
      color: #ffffff; }

#ci__interacitve {
  position: relative; }
  #ci__interacitve section {
    height: auto;
    position: relative;
    background-size: 100% 100%;
    padding-bottom: 10%; }
  #ci__interacitve #ci__interactive__backgrounds {
    z-index: 1; }
    #ci__interacitve #ci__interactive__backgrounds #background__scene1 {
      z-index: 5; }
    #ci__interacitve #ci__interactive__backgrounds #background__scene2 {
      z-index: 4; }
    #ci__interacitve #ci__interactive__backgrounds #background__scene3 {
      z-index: 3; }
    #ci__interacitve #ci__interactive__backgrounds #background__scene4 {
      z-index: 2; }
    #ci__interacitve #ci__interactive__backgrounds #background__scene5 {
      z-index: 1; }
  #ci__interacitve #ci__interactive__backgrounds,
  #ci__interacitve .background__pane {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0; }

.scenechange {
  opacity: 0; }

.numberopacity {
  opacity: 0.15; }

#ci__interactive__content {
  position: relative;
  z-index: 10; }

.numberslider {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }
  .numberslider > div {
    height: 100%;
    width: 100%; }
    .numberslider > div > div {
      width: 20%; }
  .numberslider .numberslider__img {
    width: 100%;
    min-height: 200px;
    overflow: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 10%;
    margin-bottom: 200px;
    z-index: 99; }

/* Scene1 */
#ci__interacitve .logo {
  width: 150px;
  height: auto;
  display: block;
  display: none;
  margin: 2em auto; }
  @media (min-width: 768px) {
    #ci__interacitve .logo {
      margin: 0;
      width: 250px; } }

#scene1 {
  max-height: 100vh !important;
  min-height: 100vh !important;
  position: relative;
  z-index: 100;
  overflow: hidden; }
  #scene1 #scene1__background {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: top left;
    background-repeat: no-repeat;
    background-image: url(../images/ul_scene1_pattern.png); }
    #scene1 #scene1__background.movescene1__background {
      transform: translateX(-10%) translateY(75%) scale(1.5); }
  #scene1 #scene1__content h1 {
    text-align: center;
    font-weight: 700;
    width: 100%;
    transform-origin: top right;
    font-size: 2em; }
    #scene1 #scene1__content h1.movescene1__h1 {
      opacity: 0; }
    @media (min-width: 768px) {
      #scene1 #scene1__content h1 {
        font-size: 4rem; }
        #scene1 #scene1__content h1 span {
          font-size: 5rem; }
        #scene1 #scene1__content h1.movescene1__h1 {
          transform: translateX(-20%) translateY(200px) scale(1.75);
          opacity: 0; } }
    @media (min-width: 1024px) {
      #scene1 #scene1__content h1 {
        font-size: 6rem;
        max-width: 100%;
        text-align: right; }
        #scene1 #scene1__content h1 span {
          font-size: 8rem; } }
    @media (min-width: 1024px) and (min-width: 1200px) {
      #scene1 #scene1__content h1 span {
        font-size: 10rem; } }
  #scene1 #scene1__content p {
    text-align: center; }
    #scene1 #scene1__content p.movescene1__p {
      transform: translateX(-40%); }
    @media (min-width: 768px) {
      #scene1 #scene1__content p {
        max-width: 100%; } }
    @media (min-width: 1024px) {
      #scene1 #scene1__content p {
        max-width: 50%;
        text-align: right; } }
    @media (min-width: 1200px) {
      #scene1 #scene1__content p {
        max-width: 35%; } }

/* scene 2 */
#scene2__content {
  z-index: 100;
  position: relative;
  width: 100%;
  overflow: hidden; }

#scene2 h2 {
  font-weight: 700;
  font-size: 1.5rem; }
  @media (min-width: 768px) {
    #scene2 h2 {
      font-size: 3rem; } }
  @media (min-width: 1024px) {
    #scene2 h2 {
      font-size: 4rem; } }
  @media (min-width: 1200px) {
    #scene2 h2 {
      font-size: 5rem; } }

#scene2__content__1 {
  padding: 0 0 0 20%; }
  #scene2__content__1 p {
    max-width: 500px; }
  @media (min-width: 768px) {
    #scene2__content__1 {
      padding: 15% 30% 0 20%; } }

#scene2__content__2 {
  padding: 0 0 0 0;
  transform: translateX(-25%);
  opacity: 0;
  position: relative; }
  @media (min-width: 768px) {
    #scene2__content__2 {
      padding: 5% 5% 5% 50%; } }
  #scene2__content__2.scene2__content__2__move {
    transform: translateX(0);
    opacity: 1; }
  #scene2__content__2 > div {
    padding: 10% 10% 10% 0;
    position: relative; }
    #scene2__content__2 > div #scene2__content__2__1 {
      width: 50%; }
    #scene2__content__2 > div #scene2__content__2__2 {
      width: 50%; }
  #scene2__content__2 #scene2__content__2__background {
    width: auto;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    transform: translateY(10%); }
    #scene2__content__2 #scene2__content__2__background.scene2__content__2__background__move {
      transform: translateY(-10%); }

#scene2__content__3 {
  padding: 0 5%; }
  @media (min-width: 768px) {
    #scene2__content__3 {
      padding: 0 10% 5% 40%; } }
  #scene2__content__3 span {
    display: inline-block;
    width: 100%; }

#scene2__content__3__span1 {
  transform: translateX(20%);
  opacity: 0; }

#scene2__content__3__span2 {
  transform: translateX(-20%);
  opacity: 0; }

#scene2__content__3__span1.scene2__content__3__move,
#scene2__content__3__span2.scene2__content__3__move {
  transform: translateX(0);
  opacity: 1; }

#scene2__content__4 {
  padding: 00; }
  @media (min-width: 768px) {
    #scene2__content__4 > div:first-child {
      width: 45%; } }
  @media (min-width: 768px) {
    #scene2__content__4 > div:last-child {
      width: 55%; } }
  #scene2__content__4 h2 {
    transform: translateY(-50px);
    opacity: 0; }

#scene2__content__4 h2.scene2__content__4__move {
  transform: translateY(0);
  opacity: 1; }

#scene2__content__4__1 {
  padding: 0 5%;
  position: relative;
  text-align: center; }
  @media (min-width: 768px) {
    #scene2__content__4__1 {
      text-align: left; } }
  #scene2__content__4__1 > div:first-child {
    position: relative;
    font-size: 1.5rem; }
    @media (min-width: 768px) {
      #scene2__content__4__1 > div:first-child {
        padding: 50px; } }
    @media (min-width: 768px) {
      #scene2__content__4__1 > div:first-child {
        font-size: 2rem; } }
    @media (min-width: 1024px) {
      #scene2__content__4__1 > div:first-child {
        font-size: 2.5rem; } }
    @media (min-width: 1200px) {
      #scene2__content__4__1 > div:first-child {
        font-size: 3rem; } }
    #scene2__content__4__1 > div:first-child > div {
      z-index: 101;
      position: relative; }
    #scene2__content__4__1 > div:first-child .virusbubble {
      z-index: 99;
      position: absolute;
      width: 30px;
      height: 30px;
      top: 0;
      left: 0;
      display: block;
      animation: myOrbit 8s linear infinite;
      opacity: 0.25; }
      @media (min-width: 768px) {
        #scene2__content__4__1 > div:first-child .virusbubble {
          width: 120px;
          height: 120px;
          animation: myOrbit 4s linear infinite;
          opacity: 1; } }
  #scene2__content__4__1 > div:last-child {
    position: relative;
    z-index: 101; }
    @media (min-width: 768px) {
      #scene2__content__4__1 > div:last-child {
        padding: 50px 0;
        max-width: 300px; } }

#scene2__content__4__2 {
  text-align: center;
  position: relative; }
  @media (min-width: 768px) {
    #scene2__content__4__2 {
      margin-left: 225px;
      text-align: left; } }
  #scene2__content__4__2 > div:first-child {
    display: inline-block;
    position: relative;
    font-size: 1.5rem; }
    @media (min-width: 768px) {
      #scene2__content__4__2 > div:first-child {
        font-size: 3rem; } }
    @media (min-width: 1024px) {
      #scene2__content__4__2 > div:first-child {
        font-size: 4rem; } }
    @media (min-width: 1200px) {
      #scene2__content__4__2 > div:first-child {
        font-size: 5rem; } }
    #scene2__content__4__2 > div:first-child > div {
      z-index: 101;
      position: relative; }
    #scene2__content__4__2 > div:first-child .virusbubble {
      z-index: 99;
      position: absolute;
      width: 80px;
      height: 80px;
      top: 20px;
      right: -100px;
      display: block;
      animation: myOrbitreverse 19s linear infinite;
      opacity: 0.25; }
      @media (min-width: 768px) {
        #scene2__content__4__2 > div:first-child .virusbubble {
          width: 200px;
          height: 200px;
          animation: myOrbitreverse 12s linear infinite;
          top: -50px;
          right: -100px;
          opacity: 1; } }
  #scene2__content__4__2 > div:last-child {
    position: relative;
    z-index: 101; }
    @media (min-width: 768px) {
      #scene2__content__4__2 > div:last-child {
        max-width: 300px; } }

@keyframes myOrbit {
  from {
    transform: rotate(0deg) translateX(20px) rotate(0deg); }
  to {
    transform: rotate(360deg) translateX(20px) rotate(-360deg); } }

@keyframes myOrbitreverse {
  from {
    transform: rotate(0deg) translateX(10px) rotate(0deg); }
  to {
    transform: rotate(-360deg) translateX(10px) rotate(-720deg); } }

#scene2__content__5 {
  margin: 20% auto; }
  @media (min-width: 768px) {
    #scene2__content__5 {
      margin: 5% auto; } }
  #scene2__content__5 h3 {
    font-size: 1.5rem;
    transform-origin: 50% 50%;
    transform: scale(1.5);
    opacity: 0; }
    @media (min-width: 768px) {
      #scene2__content__5 h3 {
        font-size: 2.5rem; } }

#scene2__content__5 h3.scene2__content__5__move {
  transform: scale(1);
  opacity: 1; }

#scene2__content__4__svg {
  transform-origin: 50% 50%;
  transform: scale(0.65) translateY(-150px);
  opacity: 0; }
  #scene2__content__4__svg.scene2__content__4__svg__move {
    transform: scale(1) translateY(0);
    opacity: 1; }

#scene2__content__5__h3__1,
#scene2__content__5__h3__2 {
  color: #1b365d; }

#scene2__content__5__h3__1.scene2__content__5__h3__move,
#scene2__content__5__h3__2.scene2__content__5__h3__move {
  color: #ffffff; }

#scene2__content__6 {
  padding: 5% 10% 0 15%; }
  #scene2__content__6 #scene2__content__6__1 {
    transform: translateX(-15%);
    opacity: 0; }
    @media (min-width: 768px) {
      #scene2__content__6 #scene2__content__6__1 {
        width: 50%; } }
    #scene2__content__6 #scene2__content__6__1.scene2__content__6__1__move {
      transform: translateX(0);
      opacity: 1; }
  #scene2__content__6 #scene2__content__6__2 {
    transform: translateX(15%);
    opacity: 0; }
    @media (min-width: 768px) {
      #scene2__content__6 #scene2__content__6__2 {
        width: 50%; } }
    #scene2__content__6 #scene2__content__6__2.scene2__content__6__2__move {
      transform: translateX(0);
      opacity: 1; }
    #scene2__content__6 #scene2__content__6__2 img {
      width: 100%;
      height: auto;
      display: block; }

#scene2__content__7 {
  padding: 5%;
  opacity: 0; }
  @media (min-width: 768px) {
    #scene2__content__7 {
      padding: 10% 60% 0 10%;
      transform: translateX(15%) translateY(-15%) scale(1.25); } }
  #scene2__content__7.scene2__content__7__move {
    transform: translateX(0) translateY(0) scale(1);
    opacity: 1; }
  #scene2__content__7 p {
    max-width: 400px; }

#scene2__content__8 {
  width: 90%;
  max-width: 400px;
  margin: 100px auto; }
  @media (min-width: 768px) {
    #scene2__content__8 {
      max-width: 90%; } }

#scene2__content__8__slider {
  font-size: 0.8rem;
  font-weight: 700;
  margin: 5% 0;
  line-height: 1.25em; }
  #scene2__content__8__slider .card {
    max-width: 155px;
    padding: 0.5em;
    min-height: 150px;
    transform-origin: 50% 50%;
    transition: 0.5s all ease; }
    @media (min-width: 1024px) {
      #scene2__content__8__slider .card {
        max-width: 200px;
        min-height: 150px;
        font-size: 1.25rem;
        line-height: 1.25em; } }
    @media (min-width: 1200px) {
      #scene2__content__8__slider .card {
        max-width: 250px;
        min-height: 200px;
        font-size: 1.75rem;
        line-height: 1.25em; } }
    #scene2__content__8__slider .card img,
    #scene2__content__8__slider .card .svg__container {
      width: 80px;
      height: 80px;
      display: block; }
      #scene2__content__8__slider .card img svg,
      #scene2__content__8__slider .card .svg__container svg {
        height: 100%;
        width: 100%; }
      @media (min-width: 1024px) {
        #scene2__content__8__slider .card img,
        #scene2__content__8__slider .card .svg__container {
          width: 150px;
          height: 150px; } }

.slick-track {
  display: flex !important; }

.slick-slide {
  height: inherit !important; }

.slick-current .card {
  transform: scale(1.5); }

.slick-slider .slick-track,
.slick-slider .slick-list {
  overflow: inherit; }

#scene2__particles {
  position: absolute;
  z-index: 98;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }
  #scene2__particles > div {
    position: absolute;
    width: 100%;
    height: auto;
    display: block; }
    #scene2__particles > div img {
      max-width: 50%;
      height: auto;
      display: block; }
  #scene2__particles #scene2__particles__1 {
    top: 20%;
    left: 0; }
    #scene2__particles #scene2__particles__1 #scene2__particles__1__img.scene2__particles__1__paralax {
      transform: translateY(-55%); }
  #scene2__particles #scene2__particles__2 {
    top: 40%;
    right: 0; }
    #scene2__particles #scene2__particles__2 #scene2__particles__2__img {
      position: absolute;
      right: 0; }
      #scene2__particles #scene2__particles__2 #scene2__particles__2__img.scene2__particles__2__paralax {
        transform: translateY(-65%); }
  #scene2__particles #scene2__particles__3 {
    bottom: 10%;
    left: 0;
    transform: translateY(20%); }
    #scene2__particles #scene2__particles__3 #scene2__particles__3__img.scene2__particles__3__paralax {
      transform: translateY(-25%); }

/* Scene 3 - Number 2 */
#scene3__content {
  z-index: 100;
  position: relative;
  width: 100%;
  overflow: hidden; }

#scene3 h2 {
  font-weight: 700;
  font-size: 1.5rem; }
  @media (min-width: 768px) {
    #scene3 h2 {
      font-size: 3rem; } }
  @media (min-width: 1024px) {
    #scene3 h2 {
      font-size: 4rem; } }
  @media (min-width: 1200px) {
    #scene3 h2 {
      font-size: 5rem; } }

#scene3__content__1 {
  padding: 0 5% 0 20%; }
  @media (min-width: 768px) {
    #scene3__content__1 {
      padding: 15% 30% 0 20%; } }

#scene3__content__2 {
  padding: 5%; }
  @media (min-width: 768px) {
    #scene3__content__2 {
      padding: 15% 10% 10% 20%; } }
  #scene3__content__2 h2 {
    transform: translateX(-100px) scale(1.5);
    transform-origin: 100% 50%;
    opacity: 0; }
  #scene3__content__2 #scene3__content__2__1 {
    width: 100%; }
    @media (min-width: 768px) {
      #scene3__content__2 #scene3__content__2__1 {
        width: 50%; } }
  #scene3__content__2 #scene3__content__2__2 {
    width: 100%; }
    @media (min-width: 768px) {
      #scene3__content__2 #scene3__content__2__2 {
        width: 50%; } }

#scene3__content__2 h2.scene3__content__2__move {
  transform: translateX(0);
  opacity: 1; }

#scene3__content__3 {
  padding: 0 20% 10% 10%; }
  #scene3__content__3 p {
    max-width: 400px; }
  #scene3__content__3 h2 {
    transform: translateX(100px) scale(1.5);
    transform-origin: 0% 50%;
    opacity: 0; }
  #scene3__content__3 #scene3__content__3__1 {
    width: 100%; }
    @media (min-width: 768px) {
      #scene3__content__3 #scene3__content__3__1 {
        width: 50%; } }
  #scene3__content__3 #scene3__content__3__2 {
    width: 100%; }
    @media (min-width: 768px) {
      #scene3__content__3 #scene3__content__3__2 {
        width: 50%; } }

#scene3__content__3 h2.scene3__content__3__move {
  transform: translateX(0);
  opacity: 1; }

#scene3__content__4 {
  padding: 0 10% 0 10%; }
  #scene3__content__4 div div {
    min-width: 25%; }
  #scene3__content__4 img {
    width: 100%;
    height: auto; }
  #scene3__content__4 #scene3__content__4__2 {
    position: relative; }
    #scene3__content__4 #scene3__content__4__2 #scene3__content__4__2__img {
      position: absolute;
      top: 0;
      width: 140%;
      left: -20%;
      height: auto;
      display: block;
      z-index: 99;
      opacity: 0.25; }
    @media (min-width: 768px) {
      #scene3__content__4 #scene3__content__4__2 {
        opacity: 1; } }
    #scene3__content__4 #scene3__content__4__2 p {
      position: relative;
      z-index: 100;
      transform: translateY(-30%);
      opacity: 0; }
      #scene3__content__4 #scene3__content__4__2 p.scene3__content__4__2__p__move {
        transform: translateY(0);
        opacity: 1; }
  #scene3__content__4 #scene3__content__4__3 {
    width: 100%; }
    @media (min-width: 768px) {
      #scene3__content__4 #scene3__content__4__3 {
        width: 15%; } }
  #scene3__content__4 #scene3__content__4__4 p {
    transform: translateY(-30%);
    opacity: 0; }
    #scene3__content__4 #scene3__content__4__4 p.scene3__content__4__4__p__move {
      transform: translateY(0);
      opacity: 1; }

#scene3__particles {
  position: absolute;
  z-index: 98;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }
  #scene3__particles > div {
    position: absolute;
    width: 100%;
    height: auto;
    display: block; }
    #scene3__particles > div img {
      max-width: 50%;
      height: auto;
      display: block; }
  #scene3__particles #scene3__particles__1 {
    top: 0%;
    left: 0; }
    #scene3__particles #scene3__particles__1 #scene3__particles__1__img.scene3__particles__1__paralax {
      transform: translateY(-55%); }
  #scene3__particles #scene3__particles__2 {
    top: 30%;
    right: 0; }
    #scene3__particles #scene3__particles__2 #scene3__particles__2__img {
      position: absolute;
      right: 0; }
      #scene3__particles #scene3__particles__2 #scene3__particles__2__img.scene3__particles__2__paralax {
        transform: translateY(-35%); }
  #scene3__particles #scene3__particles__3 {
    bottom: 10%;
    left: 0;
    transform: translateY(20%); }
    #scene3__particles #scene3__particles__3 #scene3__particles__3__img.scene3__particles__3__paralax {
      transform: translateY(-25%); }

/* Scene 4 - Number 2 */
#scene4__content {
  z-index: 100;
  position: relative;
  width: 100%;
  overflow: hidden; }
  @media (min-width: 768px) {
    #scene4__content {
      overflow: hidden; } }

#scene4 h2 {
  font-weight: 700;
  font-size: 1.5rem; }
  @media (min-width: 768px) {
    #scene4 h2 {
      font-size: 3rem; } }
  @media (min-width: 1024px) {
    #scene4 h2 {
      font-size: 4rem; } }
  @media (min-width: 1200px) {
    #scene4 h2 {
      font-size: 5rem; } }

#scene4__content__1 {
  padding: 0 5% 0 20%; }
  @media (min-width: 768px) {
    #scene4__content__1 {
      padding: 15% 30% 0 20%; } }

#scene4__content__2 {
  padding: 10% 0 0 0; }
  #scene4__content__2 h2 {
    font-size: 2rem;
    transform: translateX(300px);
    opacity: 0; }
    @media (min-width: 768px) {
      #scene4__content__2 h2 {
        font-size: 8rem; } }

#scene4__content__2 h2.scene4__content__2__move {
  transform: translateX(0);
  opacity: 1; }

#scene4__content__3 .gridarea {
  width: 100%; }
  @media (min-width: 768px) {
    #scene4__content__3 .gridarea {
      padding: 3em 0 8em 0; } }
  #scene4__content__3 .gridarea p {
    margin: 0; }
  #scene4__content__3 .gridarea > div {
    padding: 1em;
    margin-bottom: 1.3333em; }
    @media (min-width: 768px) {
      #scene4__content__3 .gridarea > div {
        width: calc(33.333333% - 1em); } }
    @media (min-width: 768px) {
      #scene4__content__3 .gridarea > div {
        min-height: 250px; } }
  #scene4__content__3 .gridarea img {
    height: 60px;
    width: 60px;
    display: block;
    margin: 0 auto; }
    @media (min-width: 768px) {
      #scene4__content__3 .gridarea img {
        height: 100px;
        width: 100px;
        transform: scale(1.75);
        margin: 0; } }

@media (min-width: 768px) {
  #gridarea__1 {
    opacity: 0; } }
  @media (min-width: 768px) and (min-width: 768px) {
    #gridarea__1 {
      transform: translateX(-50px) translateY(-50px); } }

@media (min-width: 768px) {
    #gridarea__1 img {
      transform-origin: 50% 100%; }
  #gridarea__2 {
    opacity: 0; } }
  @media (min-width: 768px) and (min-width: 768px) {
    #gridarea__2 {
      transform: translateX(0) translateY(-50px); } }

@media (min-width: 768px) {
    #gridarea__2 img {
      transform-origin: 50% 100%; }
  #gridarea__3 {
    opacity: 0; } }
  @media (min-width: 768px) and (min-width: 768px) {
    #gridarea__3 {
      transform: translateX(50px) translateY(-50px); } }

@media (min-width: 768px) {
    #gridarea__3 img {
      transform-origin: 0% 100%; }
  #gridarea__4 {
    opacity: 0; } }
  @media (min-width: 768px) and (min-width: 768px) {
    #gridarea__4 {
      transform: translateX(-50px) translateY(50px); } }

@media (min-width: 768px) {
    #gridarea__4 img {
      transform-origin: 50% 0%; }
  #gridarea__5 {
    opacity: 0; } }
  @media (min-width: 768px) and (min-width: 768px) {
    #gridarea__5 {
      transform: translateX(0) translateY(50px); } }

@media (min-width: 768px) {
    #gridarea__5 img {
      transform-origin: 50% 0%; }
  #gridarea__6 {
    opacity: 0; } }
  @media (min-width: 768px) and (min-width: 768px) {
    #gridarea__6 {
      transform: translateX(50px) translateY(50px); } }

@media (min-width: 768px) {
    #gridarea__6 img {
      transform-origin: 50% 0%; } }

#gridarea__1.movegridarea,
#gridarea__2.movegridarea,
#gridarea__3.movegridarea,
#gridarea__4.movegridarea,
#gridarea__5.movegridarea,
#gridarea__6.movegridarea {
  opacity: 1; }
  @media (min-width: 768px) {
    #gridarea__1.movegridarea,
    #gridarea__2.movegridarea,
    #gridarea__3.movegridarea,
    #gridarea__4.movegridarea,
    #gridarea__5.movegridarea,
    #gridarea__6.movegridarea {
      transform: translateX(0) translateY(50px); } }

#scene4__particles {
  position: absolute;
  z-index: 98;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }
  #scene4__particles > div {
    position: absolute;
    width: 100%;
    height: auto;
    display: block; }
    #scene4__particles > div img {
      max-width: 50%;
      height: auto;
      display: block; }
  #scene4__particles #scene4__particles__1 {
    top: 20%;
    left: 0; }
    #scene4__particles #scene4__particles__1 #scene4__particles__1__img {
      right: 0;
      position: absolute; }
      #scene4__particles #scene4__particles__1 #scene4__particles__1__img.scene4__particles__1__paralax {
        transform: translateY(-55%); }
  #scene4__particles #scene4__particles__2 {
    bottom: 40%;
    right: 0; }
    #scene4__particles #scene4__particles__2 #scene4__particles__2__img {
      position: absolute;
      right: 0; }
      #scene4__particles #scene4__particles__2 #scene4__particles__2__img.scene4__particles__2__paralax {
        transform: translateY(-35%); }

/* Scene 5 */
#scene5__content {
  z-index: 100;
  position: relative;
  width: 100%;
  overflow: hidden; }

#scene5 h2 {
  font-weight: 700;
  font-size: 1.5rem; }
  @media (min-width: 768px) {
    #scene5 h2 {
      font-size: 3rem; } }
  @media (min-width: 1024px) {
    #scene5 h2 {
      font-size: 4rem; } }
  @media (min-width: 1200px) {
    #scene5 h2 {
      font-size: 5rem; } }

#scene5__content__1 {
  padding: 20% 5% 0 20%; }
  @media (min-width: 768px) {
    #scene5__content__1 {
      padding: 15% 20% 0 20%; } }
  #scene5__content__1 p {
    max-width: 600px; }

#scene5__content__2 {
  padding: 10% 5%; }
  @media (min-width: 768px) {
    #scene5__content__2 {
      padding: 7.5% 0; } }
  #scene5__content__2 #scene5__content__2__1 {
    width: 75%;
    transform: translateX(-100px);
    opacity: 0; }
    @media (min-width: 768px) {
      #scene5__content__2 #scene5__content__2__1 {
        width: 25%; } }
    #scene5__content__2 #scene5__content__2__1.scene5__content__2__1__move {
      transform: translateX(0);
      opacity: 1; }
  #scene5__content__2 #scene5__content__2__2 {
    width: 100%;
    transform: translateX(100px);
    opacity: 0; }
    @media (min-width: 768px) {
      #scene5__content__2 #scene5__content__2__2 {
        width: 75%;
        padding-left: 2.5%; } }
    #scene5__content__2 #scene5__content__2__2.scene5__content__2__2__move {
      transform: translateX(0);
      opacity: 1; }

#scene5__content__3 {
  padding: 10% 5%; }
  @media (min-width: 768px) {
    #scene5__content__3 {
      padding: 0 5% 7.5% 15%; } }
  #scene5__content__3 #scene5__content__3__1 {
    width: 100%;
    transform: translateX(-100px);
    opacity: 0; }
    @media (min-width: 768px) {
      #scene5__content__3 #scene5__content__3__1 {
        width: 70%; } }
    #scene5__content__3 #scene5__content__3__1.scene5__content__3__1__move {
      transform: translateX(0);
      opacity: 1; }
  #scene5__content__3 #scene5__content__3__2 {
    width: 100%;
    transform: translateX(100px);
    opacity: 0; }
    @media (min-width: 768px) {
      #scene5__content__3 #scene5__content__3__2 {
        width: 30%; } }
    #scene5__content__3 #scene5__content__3__2.scene5__content__3__2__move {
      transform: translateX(0);
      opacity: 1; }

#scene5__content__4 {
  padding: 7.5% 0;
  transform: scale(0.5);
  opacity: 0; }
  #scene5__content__4.scene5__content__4__move {
    transform: scale(1);
    opacity: 1; }
  #scene5__content__4 h3 {
    font-size: 1.25rem;
    position: relative;
    z-index: 100; }
    @media (min-width: 768px) {
      #scene5__content__4 h3 {
        font-size: 2.5rem; } }
  #scene5__content__4 #scene5__content__4__1 {
    height: 90px;
    transform: translateY(-30%); }
    @media (min-width: 768px) {
      #scene5__content__4 #scene5__content__4__1 {
        height: 20em; } }
    #scene5__content__4 #scene5__content__4__1.scene5__content__4__1__move {
      transform: translateY(20%);
      opacity: 0.35; }
    #scene5__content__4 #scene5__content__4__1 #scene5__content__4__1__img {
      width: 100%;
      height: auto;
      display: block;
      position: relative;
      z-index: 99; }

#scene5__content__5 {
  padding: 5%;
  transform: translateX(30%);
  opacity: 0; }
  @media (min-width: 768px) {
    #scene5__content__5 {
      padding: 0 30% 7.5% 10%; } }
  #scene5__content__5.scene5__content__5__move {
    transform: translateX(0);
    opacity: 1; }
  #scene5__content__5 p {
    max-width: 600px; }
  #scene5__content__5 .d-flex > div:first-child {
    width: 100%;
    padding: 0 5% 0 0; }
    @media (min-width: 768px) {
      #scene5__content__5 .d-flex > div:first-child {
        width: 30%; } }

#scene5__content__6 {
  padding: 5%;
  transform: translateX(-30%);
  opacity: 0; }
  @media (min-width: 768px) {
    #scene5__content__6 {
      padding: 0 7.5% 7.5% 30%; } }
  #scene5__content__6.scene5__content__6__move {
    transform: translateX(0);
    opacity: 1; }
  #scene5__content__6 p {
    max-width: 600px; }
  #scene5__content__6 .d-flex > div:last-child {
    width: 100%;
    padding: 0 0 0 5%; }
    @media (min-width: 768px) {
      #scene5__content__6 .d-flex > div:last-child {
        width: 30%; } }

#scene5__background1 {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(../images/ul_scene1_pattern2.png);
  background-size: 75% auto;
  background-position: bottom right;
  background-repeat: no-repeat;
  transform: scale(1.5);
  opacity: 0;
  transform-origin: 100% 100%; }
  #scene5__background1.movescene5__background {
    transform: scale(1);
    opacity: 1; }

#scene5__particles {
  position: absolute;
  z-index: 95;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }
  #scene5__particles > div {
    position: absolute;
    width: 100%;
    height: auto;
    display: block; }
    #scene5__particles > div img {
      max-width: 50%;
      height: auto;
      display: block; }
  #scene5__particles #scene5__particles__1 {
    top: 5%;
    left: 0; }
    #scene5__particles #scene5__particles__1 #scene5__particles__1__img.scene5__particles__1__paralax {
      transform: translateY(-55%); }
  #scene5__particles #scene5__particles__2 {
    top: 40%;
    right: 0; }
    #scene5__particles #scene5__particles__2 #scene5__particles__2__img {
      position: absolute;
      right: 0; }
      #scene5__particles #scene5__particles__2 #scene5__particles__2__img.scene5__particles__2__paralax {
        transform: translateY(-55%); }

/* resources */
#resources__trigger {
  padding: 1em; }

#resources__grid__holder > div {
  padding: 2em;
  width: 100%; }
  @media (min-width: 768px) {
    #resources__grid__holder > div {
      width: 50%; } }

#resources__grid {
  display: none; }

.fa-chevron-up {
  display: none; }

#resources__trigger {
  cursor: pointer;
  background: #407ec9;
  margin: 0; }
  #resources__trigger:hover {
    filter: brightness(1.15); }

.open__resources #resources__grid {
  display: block; }

.slick-slide:focus {
  outline: none; }

.slick-active {
  z-index: 200; }

.svg__container {
  width: 100%;
  height: auto;
  min-height: 100%;
  position: relative; }

.inner_lung {
  animation: breathe 2s ease-in-out infinite; }

.inner_lung:hover {
  transition: all 1s ease-in-out; }

/* PARTICLES */
@keyframes breathe {
  0% {
    transform: scale(0.75); }
  20% {
    transform: scale(1); }
  40% {
    transform: scale(0.1 0.25); }
  60% {
    transform: scale(1); }
  80% {
    transform: scale(0.75); }
  100% {
    transform: scale(0.75); } }

@keyframes dash {
  to {
    stroke-dashoffset: 0; } }

.inner_lung {
  animation: breathe 2s ease-in-out infinite; }

.inner_lung:hover {
  transition: all 1s ease-in-out; }

/* PARTICLES */
@keyframes breathe {
  0% {
    transform: scale(0.75); }
  20% {
    transform: scale(1); }
  40% {
    transform: scale(0.1 0.25); }
  60% {
    transform: scale(1); }
  80% {
    transform: scale(0.75); }
  100% {
    transform: scale(0.75); } }

@keyframes dash {
  to {
    stroke-dashoffset: 0; } }

.display-flex {
  display: flex; }

.justify-center {
  justify-content: center; }

.flex-align-center {
  align-items: center; }

.space-between {
  justify-content: space-between; }

.flex-direction-col {
  flex-direction: column; }

header {
  position: fixed;
  width: 100%;
  font-size: 16px;
  z-index: 999999; }
  @media (min-width: 1280px) {
    header {
      font-size: 16px;
      background: #fff;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); } }
  header .desktop-nav {
    display: none;
    background: #fff; }
    @media (min-width: 1280px) {
      header .desktop-nav {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: 1456px;
        max-width: 1920px;
        height: 80px;
        padding: 0 24px; } }
    header .desktop-nav .logo {
      position: relative;
      max-height: 56px;
      cursor: pointer; }
      header .desktop-nav .logo img {
        width: auto;
        max-height: 42px; }
      header .desktop-nav .logo p {
        font-size: 10px;
        color: #5D666B;
        letter-spacing: .4px; }
    header .desktop-nav .primary-navigation ul {
      display: flex;
      flex-direction: row;
      margin: 0;
      padding: 0;
      list-style: none;
      font-family: "Montserrat", Arial, Helvetica, sans-serif !important;
      margin-left: 48px; }
      header .desktop-nav .primary-navigation ul li {
        margin: 2px 0 0 32px; }
        header .desktop-nav .primary-navigation ul li a {
          color: #5D666B;
          cursor: pointer; }
          header .desktop-nav .primary-navigation ul li a:link, header .desktop-nav .primary-navigation ul li a:visited, header .desktop-nav .primary-navigation ul li a:active {
            color: #5D666B; }
          header .desktop-nav .primary-navigation ul li a:hover {
            color: #41b6e6;
            text-decoration: none; }
    header .desktop-nav .primary-navigation-megamenu ul {
      display: flex;
      flex-direction: row;
      margin: 0;
      padding: 0;
      list-style: none;
      font-family: "Montserrat", Arial, Helvetica, sans-serif !important;
      margin-left: 48px; }
      header .desktop-nav .primary-navigation-megamenu ul li {
        position: relative;
        margin: 2px 0 0 32px; }
        header .desktop-nav .primary-navigation-megamenu ul li a {
          color: #5D666B;
          cursor: pointer;
          padding: 12px 0; }
          header .desktop-nav .primary-navigation-megamenu ul li a:link, header .desktop-nav .primary-navigation-megamenu ul li a:visited, header .desktop-nav .primary-navigation-megamenu ul li a:active {
            color: #5D666B; }
          header .desktop-nav .primary-navigation-megamenu ul li a:hover {
            color: #41b6e6;
            text-decoration: none; }
        header .desktop-nav .primary-navigation-megamenu ul li:first-child:hover .dropdown-wrapper {
          display: inline-block; }
        header .desktop-nav .primary-navigation-megamenu ul li:nth-child(2):hover .dropdown-wrapper {
          display: inline-block; }
        header .desktop-nav .primary-navigation-megamenu ul li:nth-child(3):hover .dropdown-wrapper {
          display: inline-block; }
    header .desktop-nav .primary-navigation-megamenu .dropdown-wrapper {
      position: absolute;
      background: white;
      left: 30px;
      margin-top: 34px;
      display: none; }
      header .desktop-nav .primary-navigation-megamenu .dropdown-wrapper .dropdown-menu {
        display: flex;
        width: 15em;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3) !important;
        border: 0;
        border-radius: 0;
        margin: 0;
        padding: 0; }
        header .desktop-nav .primary-navigation-megamenu .dropdown-wrapper .dropdown-menu ul {
          display: flex;
          flex-direction: column;
          width: 97%;
          margin: 0;
          padding: 0;
          list-style: none;
          font-family: "Montserrat", Arial, Helvetica, sans-serif !important; }
          header .desktop-nav .primary-navigation-megamenu .dropdown-wrapper .dropdown-menu ul li {
            font-size: 14px;
            margin: 0 4px;
            padding: 12px;
            color: #5D666B;
            width: 100%; }
            header .desktop-nav .primary-navigation-megamenu .dropdown-wrapper .dropdown-menu ul li:hover {
              background: #E4ECF7; }
            header .desktop-nav .primary-navigation-megamenu .dropdown-wrapper .dropdown-menu ul li a {
              color: #5D666B;
              cursor: pointer; }
              header .desktop-nav .primary-navigation-megamenu .dropdown-wrapper .dropdown-menu ul li a:link, header .desktop-nav .primary-navigation-megamenu .dropdown-wrapper .dropdown-menu ul li a:visited, header .desktop-nav .primary-navigation-megamenu .dropdown-wrapper .dropdown-menu ul li a:active {
                color: #5D666B; }
              header .desktop-nav .primary-navigation-megamenu .dropdown-wrapper .dropdown-menu ul li a:hover {
                color: #41b6e6; }
    header .desktop-nav .secondary-navigation ul {
      display: flex;
      flex-direction: row;
      margin: 0;
      padding: 0;
      list-style: none;
      font-family: "Montserrat", Arial, Helvetica, sans-serif !important; }
      header .desktop-nav .secondary-navigation ul li {
        margin: -2px 0 0 20px;
        cursor: pointer;
        height: 18px;
        font-size: 18px;
        color: #5D666B; }
        header .desktop-nav .secondary-navigation ul li a {
          color: #5D666B;
          cursor: pointer; }
          header .desktop-nav .secondary-navigation ul li a:link, header .desktop-nav .secondary-navigation ul li a:visited, header .desktop-nav .secondary-navigation ul li a:active {
            color: #5D666B; }
          header .desktop-nav .secondary-navigation ul li a:hover {
            color: #5D666B; }
  header .mobile-nav {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    @media (min-width: 1280px) {
      header .mobile-nav {
        display: none; } }
    header .mobile-nav .nav-bar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 60px;
      background: #fff;
      padding: 0 20px; }
      @media (min-width: 768px) {
        header .mobile-nav .nav-bar {
          padding: 0 32px;
          justify-content: space-between; } }
      header .mobile-nav .nav-bar .logo {
        position: relative;
        max-height: 42px;
        cursor: pointer; }
        header .mobile-nav .nav-bar .logo img {
          width: auto;
          max-height: 42px; }
      header .mobile-nav .nav-bar .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        width: 22px;
        height: 17px;
        cursor: pointer; }
        header .mobile-nav .nav-bar .menu .line {
          width: 22px;
          height: 3px;
          background: #4A4A4A; }
    header .mobile-nav .nav-menu {
      display: none;
      position: relative;
      width: 100%;
      height: 100vh; }
      header .mobile-nav .nav-menu .primary-navigation {
        background: #fff;
        height: 100%;
        overflow: scroll; }
        header .mobile-nav .nav-menu .primary-navigation ul {
          display: flex;
          flex-direction: column;
          margin: 0;
          padding: 16px 0 16px;
          list-style: none;
          border-top: 1px solid rgba(0, 0, 0, 0.1);
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          font-family: "Montserrat", Arial, Helvetica, sans-serif !important; }
          header .mobile-nav .nav-menu .primary-navigation ul li {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 50%;
            font-size: 16px;
            padding: 16px 28px;
            cursor: pointer; }
            header .mobile-nav .nav-menu .primary-navigation ul li a {
              color: #5D666B;
              cursor: pointer;
              text-transform: uppercase; }
              header .mobile-nav .nav-menu .primary-navigation ul li a:link, header .mobile-nav .nav-menu .primary-navigation ul li a:visited, header .mobile-nav .nav-menu .primary-navigation ul li a:active {
                color: #5D666B; }
              header .mobile-nav .nav-menu .primary-navigation ul li a:hover {
                color: #41b6e6;
                text-decoration: none; }
          header .mobile-nav .nav-menu .primary-navigation ul .submenu {
            background: #eee;
            font-size: 14px;
            margin-left: 40px; }
            header .mobile-nav .nav-menu .primary-navigation ul .submenu a {
              color: #41b6e6;
              text-transform: none; }
